# EDA Food Inspection

#### Cargamos la librerias que utilizaremos para generar EDA/GEDA

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [23]:
#estas lineas son para autocargar 
#la libreria de utils_eda.py 
#si se genera una modificacion en el codigo
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
import sys
sys.path.append('../')

In [24]:
from utils_notebook.utils_eda import *

In [8]:
path_file = '../data/Food_Inspections.csv'

In [9]:
df_food = pd.read_csv(path_file)

In [10]:
df_food.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2472391,PHILZ COFFEE,PHILZ COFFEE,2766979.0,NaN,Risk 2 (Medium),1555 N WELLS ST,CHICAGO,IL,60610.0,01/07/2021,License,Not Ready,NaN,41.910736,-87.634551,"(-87.63455069145124, 41.910736031820235)"
1,2453551,BIAN,BIAN,2744753.0,Restaurant,Risk 1 (High),600 W CHICAGO AVE,CHICAGO,IL,60654.0,10/20/2020,License,Pass,NaN,41.896585,-87.642996,"(-87.64299618172501, 41.896585191199556)"
2,2386633,JIN JU,JIN JU,27137.0,Restaurant,Risk 1 (High),5203 N CLARK ST,CHICAGO,IL,60640.0,08/28/2020,Canvass,No Entry,NaN,41.976301,-87.668276,"(-87.66827593789948, 41.97630115368914)"
3,2386595,LA BIZNAGA #2,LA BIZNAGA #2,2708992.0,NaN,Risk 1 (High),2949 W BELMONT AVE,CHICAGO,IL,60618.0,08/27/2020,Complaint,No Entry,NaN,41.939256,-87.702270,"(-87.70226967930802, 41.939255926667535)"
4,2386523,MC DONALD'S,MC DONALD'S,2560785.0,Restaurant,Risk 2 (Medium),6336 S ASHLAND AVE,CHICAGO,IL,60636.0,08/26/2020,Short Form Complaint,Pass,NaN,41.778361,-87.664337,"(-87.66433686342792, 41.77836097603761)"

### Generamos análisis primario para observar cómo se comporta la data Raw

In [11]:
count_data(df_food)

,tipo_dato,cantidad,nulos,unicos,moda,top1,f1,top2,f2,top3,f3
columnas,,,,,,,,,,,
Inspection ID,int64,215130,0,215130,valores unicos,2099201,1,1154712,1,2456387,1
DBA Name,object,215130,0,28753,SUBWAY,SUBWAY,2908,DUNKIN DONUTS,1578,MCDONALD'S,614
AKA Name,object,212643,2487,27360,SUBWAY,SUBWAY,3568,DUNKIN DONUTS,1586,7-ELEVEN,882
License #,float64,215113,17,39111,0.000000,0.000000,545,1354323.000000,198,14616.000000,176
Facility Type,object,210238,4892,500,Restaurant,Restaurant,143249,Grocery Store,28093,School,13206
Risk,object,215061,69,4,Risk 1 (High),Risk 1 (High),153869,Risk 2 (Medium),41978,Risk 3 (Low),19185
Address,object,215130,0,18525,11601 W TOUHY AVE,11601 W TOUHY AVE,2674,5700 S CICERO AVE,593,500 W MADISON ST,465
City,object,214972,158,70,CHICAGO,CHICAGO,214227,Chicago,347,chicago,111
State,object,215080,50,4,IL,IL,215077,NY,1,WI,1
Zip,float64,215078,52,112,60614.000000,60614.000000,8133,60647.000000,7828,60657.000000,7485
Inspection Date,object,215130,0,2797,11/14/2013,11/14/2013,185,09/13/2016,149,11/29/2016,145
Inspection Type,object,215129,1,110,Canvass,Canvass,114250,License,28302,Canvass Re-Inspection,22836
Results,object,215130,0,7,Pass,Pass,112641,Fail,41527,Pass w/ Conditions,32550
Violations,object,157683,57447,156734,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,11,"30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...",10,45. FOOD HANDLER REQUIREMENTS MET - Comments: ...,10
Latitude,float64,214420,710,17248,42.008536,42.008536,2691,41.789329,593,41.884188,507
Longitude,float64,214420,710,17248,-87.914428,-87.914428,2691,-87.741646,593,-87.641120,507
Location,object,214420,710,17248,"(-87.91442843927047, 42.008536400868735)","(-87.91442843927047, 42.008536400868735)",2691,"(-87.74164564419637, 41.789329323265385)",593,"(-87.64111966683218, 41.884187507127805)",507

None

 *********** Informacion global *************

analisis,columnas,datos,total_nulos,%_nulos,num_var,date_var,cat_var,str_var
informacion,17,215130,67303,31.28%,5,0,0,12

None

#### Haremos algunas trasformaciones a la estructura de los datos antes de generar el Data Profiling como cambiar los tipos de variables a sus correctos.

Como podemos observar en la tabla de arriba los nombres de las columnas contienen espacios en blanco y estan capitalizados aplicamos una normalización para hacer mas eficiente el trabajar mas tarde.

In [12]:
df_food = clean_column(df_food)

In [13]:
df_food.columns

Index(['inspection_id', 'dba_name', 'aka_name', 'license_#', 'facility_type',
       'risk', 'address', 'city', 'state', 'zip', 'inspection_date',
       'inspection_type', 'results', 'violations', 'latitude', 'longitude',
       'location'],
      dtype='object')

##### Ahora verificamos los tipos de datos y si estan correctos.

In [14]:
df_food.dtypes

inspection_id        int64
dba_name            object
aka_name            object
license_#          float64
facility_type       object
risk                object
address             object
city                object
state               object
zip                float64
inspection_date     object
inspection_type     object
results             object
violations          object
latitude           float64
longitude          float64
location            object
dtype: object

-

Observamos que las columnas **inspection_date** es del tipo String en formato **mm/dd/aaaa** y que no tienen valores nulos antes de hacer la conversión a tipo Date hacemos una comprobación de que todos los registros cumplan con este formato.

In [17]:
listFecha = ["inspection_date"]
date_format = "mm/dd/aaaa"

In [20]:
checkDateForm(df_food, listFecha, date_format)

mm/dd/aaaa

Cantidad de valores en inspection_date que no cumplen con el formato mm/dd/aaaa : 0
Distribucion de valores:
 Series([], Name: 0, dtype: int64)

-

Todas cumplen con ese formato ahora cambiaremos el tipo a **datetime** para su correcto manejo.

In [28]:
type_format = '%m/%d/%Y'

In [29]:
changeType_date(df_food,listFecha, type_format)

Comprobamos que los cambios

In [30]:
df_food.dtypes

inspection_id               int64
dba_name                   object
aka_name                   object
license_#                 float64
facility_type              object
risk                       object
address                    object
city                       object
state                      object
zip                       float64
inspection_date    datetime64[ns]
inspection_type            object
results                    object
violations                 object
latitude                  float64
longitude                 float64
location                   object
dtype: object

In [32]:
df_food.inspection_date.head()

0   2021-01-07
1   2020-10-20
2   2020-08-28
3   2020-08-27
4   2020-08-26
Name: inspection_date, dtype: datetime64[ns]

# Data Profiling

In [34]:
df_food.dtypes

inspection_id               int64
dba_name                   object
aka_name                   object
license_#                 float64
facility_type              object
risk                       object
address                    object
city                       object
state                      object
zip                       float64
inspection_date    datetime64[ns]
inspection_type            object
results                    object
violations                 object
latitude                  float64
longitude                 float64
location                   object
dtype: object

-

Obtenemos las variables con las que trabajaremos el Data profiling.

In [35]:
dicVar = getVariables(df_food)

In [36]:
dicVar

{'num_var': (5,
  array(['inspection_id', 'license_#', 'zip', 'latitude', 'longitude'],
        dtype=object)),
 'date_var': (1, array(['inspection_date'], dtype=object)),
 'cat_var': (0, array([], dtype=object)),
 'str_var': (11,
  array(['dba_name', 'aka_name', 'facility_type', 'risk', 'address', 'city',
         'state', 'inspection_type', 'results', 'violations', 'location'],
        dtype=object))}

### Variables Categoricas

In [38]:
data_profiling_categ(df_food,dicVar['str_var'][1])

metrica,dba_name,aka_name,facility_type,risk,address,city,state,inspection_type,results,violations,location
registros,215130,215130,215130,215130,215130,215130,215130,215130,215130,215130,215130
nulos,0,2487,4892,69,0,158,50,1,0,57447,710
Num_categorias,28753,27360,500,4,18525,70,4,110,7,156734,17248
categorias,"[PHILZ COFFEE, BIAN, JIN JU, LA BIZNAGA #2, MC...","[PHILZ COFFEE, BIAN, JIN JU, LA BIZNAGA #2, MC...","[nan, Restaurant, GENERAL STORE, Children's Se...","[Risk 2 (Medium), Risk 1 (High), Risk 3 (Low),...","[1555 N WELLS ST , 600 W CHICAGO AVE , 5203 N ...","[CHICAGO, Chicago, SCHAUMBURG, ELMHURST, CHICA...","[IL, nan, NY, IN, WI]","[License, Canvass, Complaint, Short Form Compl...","[Not Ready, Pass, No Entry, Out of Business, F...","[nan, 3. MANAGEMENT, FOOD EMPLOYEE AND CONDITI...","[(-87.63455069145124, 41.910736031820235), (-8..."
moda,SUBWAY,SUBWAY,Restaurant,Risk 1 (High),11601 W TOUHY AVE,CHICAGO,IL,Canvass,Pass,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,"(-87.91442843927047, 42.008536400868735)"
top1,SUBWAY,SUBWAY,Restaurant,Risk 1 (High),11601 W TOUHY AVE,CHICAGO,IL,Canvass,Pass,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,"(-87.91442843927047, 42.008536400868735)"
f1,2908,3568,143249,153869,2674,214227,215077,114250,112641,11,2691
top2,DUNKIN DONUTS,DUNKIN DONUTS,Grocery Store,Risk 2 (Medium),5700 S CICERO AVE,Chicago,NY,License,Fail,"30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...","(-87.74164564419637, 41.789329323265385)"
f2,1578,1586,28093,41978,593,347,1,28302,41527,10,593
top3,MCDONALD'S,7-ELEVEN,School,Risk 3 (Low),500 W MADISON ST,chicago,WI,Canvass Re-Inspection,Pass w/ Conditions,45. FOOD HANDLER REQUIREMENTS MET - Comments: ...,"(-87.64111966683218, 41.884187507127805)"
f3,614,882,13206,19185,465,111,1,22836,32550,10,507

### Variables Numericas

In [39]:
data_profiling_num(df_food,dicVar['num_var'][1])

metricas    inspection_id       license_#            zip   latitude  longitude
registros          215130          215113         215078     214420     214420
nulos                   0              17             52        710        710
unicos             215130           39111            112      17248      17248
moda       valores unicos        0.000000   60614.000000  42.008536 -87.914428
min          44247.000000        0.000000   10014.000000  41.644670 -87.914428
max        2472776.000000  9999999.000000   60827.000000  42.021064 -87.525094
mean       1528869.843169  1630342.368829   60628.759227  41.880910 -87.676426
stdv        661474.231078   902765.321212     116.778081   0.081026   0.058527
25%        1188711.250000  1247748.000000   60614.000000  41.832580 -87.707338
median     1528174.500000  1992224.000000   60625.000000  41.891893 -87.666420
75%        2104619.750000  2278360.000000   60643.000000  41.939792 -87.634955
kurtosis        -0.722874       -0.533827  165217.314759  -0.350778   2.425704
skewness        -0.538970       -0.882125    -388.436249  -0.589562  -1.046365
top1       2099201.000000        0.000000   60614.000000  42.008536 -87.914428
f1                      1             545           8133       2691       2691
top2       1154712.000000  1354323.000000   60647.000000  41.789329 -87.741646
f2                      1             198           7828        593        593
top3       2456387.000000    14616.000000   60657.000000  41.884188 -87.641120
f3                      1             176           7485        507        507

### Variables de Fechas

In [40]:
data_profiling_date(df_food,dicVar['date_var'][1])

metricas                           inspection_date
tipo dato               <class 'numpy.datetime64'>
registros                                   215130
nulos                                            0
unicos                                        2797
moda          0   2013-11-14
dtype: datetime64[ns]
fecha inicio                   2010-01-04 00:00:00
fecha fin                      2021-01-15 00:00:00
top1                           2013-11-14 00:00:00
f1                                             185
top2                           2016-09-13 00:00:00
f2                                             149
top3                           2016-11-29 00:00:00
f3                                             145